body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

h1 {

}

button {
    cursor: pointer;
}

.add-book {
    background-color: grey;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
}

/* Pop-up form section */
h3 {
    margin: 0px;
    margin-bottom: 10px;
}

.close {
    background-color: crimson;
    width: 20px;
    border-radius: 2px;
}

.form {
    display: none;
    background-color: lightgrey;
    padding: 20px;
    border: 2px black solid;
    border-radius: 10px;
    align-self: center;
    /* justify-self: center; */
    /* position: fixed; */
    /* z-index: 9; */
}

form {
    /* display: flex; */
    /* flex-direction: column; */
}

label {
    
}

/* Card section */
.card {
    background-color: lightgray;
    height: 200px;
    width: 75%;
    border-radius: 10px;
}

.card-content {
    padding-top: 10px;
    padding-left: 10px;
}