body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {

}

button {
    cursor: pointer;
    width: 100px;
}

.button-text {
    /* font-size: 50px; */
    padding: 0px;
    margin: 0px;
}

.header {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-book {
    background-color: steelblue;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
}

/* Pop-up form section */
.close {
    background-color: crimson;
    width: 20px;
    border-radius: 2px;
}

.submit {
    background-color: white;
    border-radius: 5px;
    border: 1px black solid;
}

.form {
    display: none;
    background-color: lightgrey;
    padding: 20px;
    border: 2px black solid;
    border-radius: 10px;
    position: fixed;
    bottom: 50%;
    z-index: 9;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
}

.form-footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


input {
    border-radius: 5px;
}

/* Card section */
.card {
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    width: 250px;
}

.card-content {
    padding-top: 25px;
    gap: 10px;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 200px));
    grid-auto-rows: min-content;
}

.read-book {
    background-color: lawngreen;
}

.not-read-book {
    background-color: crimson;
}